{% extends "moviegator/layout.html" %}
{% load static %}

{% block title %}Moviegator: Ratings{% endblock %}

{% block body %}

    <div id="message">{{ message }}</div>

    <span class="menu-arrow" data-slide="down">menu &#8595;</span>

    <!--Section with rated titles -->
    <section style="text-center" id='section-ratings'>
        <div class="container text-center">
            <div class="px-5">

                <h3>Moviegator users rated these titles</h3>

                <div class="ratings-container px-5">
                    
                </div>

            </div>

        </div>
    </section>

{% endblock %}