{% extends "moviegator/layout.html" %}

{% block body %}

    <span class="menu-arrow" data-slide="down">menu &#8595;</span>

    <section id="section-register">

        <div class="container text-center px-5">

            <h2>Register</h2>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus autocomplete="username" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" autocomplete="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" autocomplete="new-password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" autocomplete="new-password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-outline-light" type="submit" value="Register">
            </form>

            <div class="mt-2">Already have an account? <a href="{% url 'login' %}">Log In here.</a></div>

        </div>

    </section>

{% endblock %}