/* General styles */
* {
    scroll-behavior: smooth;
}

body {
    position: relative;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.spinner {
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}

.navbar {
    z-index: 7;
    top: -10vh;
}

.navbar-brand, .brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.brand {
    color: white;
    font-size: 16rem;
    line-height: 10rem;
}

.menu-arrow {
    position: absolute;
    z-index: 6;
    top: 0.5rem;
    left: 1rem;
    text-transform: uppercase;
    transition: 0.5s all;
    font-size: 1.5rem;
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.scroll-arrow {
    position: fixed;
    z-index: 6;
    bottom: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: 500;
    &:hover {
        cursor: pointer;
    }
}

.card {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    &>img {
        height: 30vh !important;
        object-fit: contain !important;
    }
}

p.info {
    font-size: 2rem;
}

button {
    &>a, &>a:hover {
        text-decoration: none;
        color: white;
    }
    &[data-genre] {
        width: 10rem;
    }
    
}

a, a:hover {
    color: white;
}

#message {
    position: relative;
    z-index: 10;
    font-size: 1.2rem;
}

section {
    @include section-general;
    &.inner-section {
        position: relative;
        top: 2rem;
        height: auto;
        width: 100vw;
        z-index: 6;
        background-color: transparent;
        padding-bottom: 2rem;
    }
    &>div.container.d-flex {
        height: 100%;
    }
    &#section {
        &-login, &-register, &-start, &-mood-genre {
            background: $linear-bg-light;
        }
        &-welcome, &-mood, &-genre, &-result {
            background: $linear-bg-dark;
        }
        &-login, &-register, &-welcome {
            z-index: 5;
            padding-top: 17rem;
        }
        &-start, &-mood-genre {
            padding-top: 20rem;
        }
        &-start {
            z-index: 4;
        }
        &-mood-genre {
            z-index: 3;
        }
        &-mood, &-genre {
            z-index: 2;
            padding-top: 20rem;
        }
        &-result {
            z-index: 1;
            padding-top: 10rem;
            .card {
                animation: scale 1.5s linear 0s 1 normal forwards;
            }
        }
    }
}

div {
    &#section-user, &#section-trailers {
        position: absolute;
        top: 0;
        padding-top: 5rem;
        padding-bottom: 5rem;
        min-height: 100vh;
        width: 100vw;
        z-index: 5;
        .card-text {
            max-width: 210px !important;
            height: 80px !important;
        }
    }
    &#section-user {
        background: black;
    }
    &#section-trailers {
        background: $linear-bg-dark;
    }
}

.watchlist-container {
    max-width: 100%;
}

.animated {
    &-slideDown {
        animation: slideDown 1s linear 0s 1 normal forwards;
    }
    &-slideUp {
        animation: slideUp 1s linear 0s 1 normal forwards;
    }
    &-enterScreen {
        animation: enterScreen 1s linear 0s 1 normal forwards;
    }
    &-exitScreen {
        animation: exitScreen 1s linear 0s 1 normal forwards;
    }
}

.modal-container {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    height: 100%;
    .overlay {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        #ratingModal {
            color: black;
            font-size: 2rem;
            width: 50%;
            height: 30%;
            background-color: white;
            .rating_modal-rate {
                font-size: 3rem;
                cursor: pointer;
                .star {
                    cursor: pointer;
                    &.checked {
                        color: rgb(255, 208, 0);
                    }
                    &.unchecked {
                        color: grey;
                    }
                }
            }
        }
    }
}

.rating {
    color: rgb(255, 208, 0);
}

.trailer {
    &-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    &-input {
        width: 70%;
        height: 3rem;
        padding: 1rem;
    }
    &-player {
        animation: appear 2s linear 0s 1 normal forwards;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.suggestion-item {
    transition: 0.5s all;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 12px 12px 5px 2px rgba(0, 0, 0, .3);
    }
}


