/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300&display=swap');


/* Animations */
@keyframes slideToTop {
    0% {
        top: 0;
    }

    100% {
        top: -100vh;
    }
}

@keyframes disappear {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


/* General styles */
body {
    position: relative;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar-brand, .brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.brand {
    color: white;
    font-size: 16rem;
    line-height: 10rem;
}

button>a, button>a:hover {
    text-decoration: none;
    color: white;
}

button[data-genre] {
    width: 10rem;
}

a, a:hover {
    color: white;
}

section>div.container.d-flex {
    height: 100%;
}

#section-login, #section-register {
    height: 100vh;
    width: 100%;
    padding-top: 17rem;
    background: linear-gradient(180deg, rgba(4,244,251,1) 0%, rgba(14,175,122,1) 35%, rgba(0,0,0,1) 100%);
}

#section-welcome {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,38,38,1) 35%, rgba(242,35,20,1) 100%);
    padding-top: 17rem;
}

#section-start, #section-mood-genre {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(4,244,251,1) 0%, rgba(14,175,122,1) 35%, rgba(0,0,0,1) 100%);
    padding-top: 20rem;
}

#section-start {
    z-index: 4;
}

#section-mood-genre {
    z-index: 3;
}

#section-mood {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,38,38,1) 35%, rgba(242,35,20,1) 100%);
    padding-top: 20rem;
}

#section-genre {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,38,38,1) 35%, rgba(242,35,20,1) 100%);
    padding-top: 20rem;
}